# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven target directory
/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# macOS system files
.DS_Store

# JUnit test output or temp files
/test-output/
*.ser

# Backup or temp files
*.swp
*.bak
*.tmp

.mvn/
mvnw
mvnw.cmd

